<!DOCTYPE html>
<html lang="en">

<body>
  <p>Important note: this page is out of date. This website is currently static and hosted by gitlab.</p>

      <h3>Bitcoin Network Information</h3>
      <p>This website is a python flask webapp running on a virtual private server (VPS) with 2GB RAM and a 4GB swap
        file. The python program is run under gunicorn, with four workers, and the site is served by an apache
        webserver. On the same VPS there's a bitcoin daemon. The python program talks to the bitcoin daemon (called
        bitcoind) using remote procedure calls (RPC). Each time you refresh the page, the python program runs again,
        giving you the latest information about what is happening on the server and on the bitcoin network. This
        communication "handshake" between the python
        program and bitcoind is the reason it takes a moment for the main page to load.</p>
    <hr>



      <!-- <p>Estimated network hashes per second:  getnetworkhashps </br> -->
      <!-- <p>Pruned blockchain directory size (MB), specified 550MB: <span style="color:red">{{ data_dir }}</span></br>
        The 'blocks' folder varies in size, sometimes dramatically. -->
      <!-- </p>  -->
      <p>
        The number of validated blocks in the local best block chain:</br>
        <span style="color: red">{{ blocks }}</span>
      </p>
      <p>
        The difficulty of the highest-height block in the best block chain:</br>
        <span style="color: red">{{ difficulty }}</span>
      </p>
      <p>
        The estimated number of block header hashes checked from the genesis block to this block, encoded as big-endian
        hex:</br>
        <span style="color: red">{{ chainwork }}</span>
      </p>

      <a href="../index.html">Return to main</a>


</body>

</html>

<!-- 
networkhashps
An estimate of the number of hashes per second the network is generating to maintain the current difficulty. See the getnetworkhashps RPC for configurable access to this data

pooledtx
The number of transactions in the memory pool

https://bitcoin.org/en/developer-reference#getmempoolinfo

getmemoryinfo
https://bitcoin.org/en/developer-reference#getmemoryinfo

getchaintips

The getnetworkhashps RPC returns the estimated current or historical network hashes per second based on the last n blocks.
Used -1 to average all blocks produced since the last difficulty change
The height of the last block to use for calculating the average. Defaults to -1 for the highest-height block on the local best block chain. If the specified height is higher than the highest block on the local best block chain, it will be interpreted the same as -1
getnetworkhashps = decimal.Decimal(host.call('getnetworkhashps'))
print("Estimated hashes per second is %s" % getnetworkhashps)

getblockchaininfo = host.call('getblockchaininfo')
print(getblockchaininfo)

getchaintips = host.call('getchaintips')
print("getchaintips %s" % getchaintips)

print("----------")

getrawmempool = host.call('getrawmempool')
print("getrawmempool %s" % getrawmempool)

estimatefee = host.call('estimatefee', 1)
print("estimatefee %s" % estimatefee) -->