<!DOCTYPE html>
<html>

<head>
  <title>XMR Systems LLC</title>
  {% include "head.html"%}
</head>

<body>
  <h1>XMR Systems LLC</h1>
  <h3>About</h3>
  <p>
    XMR Systems LLC is a contract developer of high-quality open source user interfaces for Bitcoin, Monero, Zcash, and
    Grin. We have been in business since August 2017.
  </p>
  Our public portfolio:
  <ul>
    <li><a href="https://xwallet.tech">X Wallet for Monero</a></li>
    <!-- <li>XIII Cross Chain Atomic Swap Wallet</li> -->
  </ul>
  <h3>Software Development and Consulting Inquiries</h3>
  <p>We're looking forward to helping you successfully deliver your next high-quality cryptocurrency interface project.</p>
  <p><a href="mailto:js@xwallet.tech">js@xwallet.tech</a></p>

  <!-- <p>Business hours are M-F 09:00-16:00, Central European Time. We observe Swiss (Canton Z&uuml;rich & Zug) holidays.</p> -->
  </ul>
  <hr>
  <p style="text-align:right">&copy2018 XMR Systems LLC</p>
</body>

</html>